/*mobile view*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');
@media(orientation: portrait) {

    img{
    max-width: 100%;
    }
    
    .navbar {
    flex-direction: column;
    }
    
    .nav-menu{
    background-color: #000000;  
    width: 100%;
    text-align: center;
    list-style: none;
    }
    
    .nav-menu ul{
    flex-direction: column;
    list-style: none;
    }
    
    .nav-menu ul li{
    width: 100%;
    text-align: center;
    margin: 10px;   
    }
    
    .nav-item {
    margin: 10px 0;
    }
    
    /*------------------------------------------*/
    body {
    align-items: center;
    text-align: center;
    margin: auto;
    font-family: 'Noto Sans', sans-serif;
    background-color: #000000;
    color: #ffffff;
    }
    /*------------------------------------------*/
    
    .footer-nav ul{
    flex-direction: column;
    list-style: none;
    }

    .intro_container{
      flex-direction: column !important;
    }

    .footer-nav ul li{
    width: 100%;
    text-align: center;
    margin: 10px;
    }
    
    
}
  /*Desktop View/
  /*navbar css*/
  header{
    background-color: #000000;
  }

  li{
    list-style: none;
  }

  a{
    color: white;
    text-decoration: none;
  }

  .navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }

  .nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;  
  }

  .nav-branding{
    font-size: 2rem;
    transition: 0.2s ease;
  }

  .nav-branding:hover{
    color: 	#48e780;

  }

  .nav-link{
    transition: 0.2s ease;
  }

  .nav-link:hover{
    color: 	#48e780;
  }
  /*---------------------------------------------*/

  body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  }

  .heroImage {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/moon4K.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45%;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  }

  .heroImage .heroText {
  color: white;
  text-align: center;
  padding: 2rem;
  }

  .heroText h1 i{
    font-style: normal;
    color: #48e780;
    background: linear-gradient(to right, #36ff7c,  #73ffa4);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .heroText h2 i{
    font-style: normal;
    color: #48e780;
    background: linear-gradient(to right, #773ac1,  #c973ff);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .heroText h1 {
  font-size: 50px;
  font-weight: bold;
  width: 100%;
  position: relative;
  left: 0;
  }

  .heroText p {
  font-size: 30px;
  font-weight: 500;
  }

  p {
  font-size: 1.5em;
  }

  .intro_container h2
  {
    text-align: center;
  }

  .intro_container{  
    text-align: center;
  }

  .projects_container{
  }

  /*Footer css*/
  footer{
  background-color: #000000;
  }

  .footer-container{
  width: 100%;
  padding: 70px 0px 20px;
  }

  .socialIcons{
  display: flex;
  justify-content: center;
  }

  .socialIcons a{
  text-decoration: none;
  padding: 12px;
  /*background-color: #48e780;*/
  margin: 2rem;
  border-radius: 50%;
  }

  .socialIconsa a i{
    font-size: 2rem;
    color: #ffffff;
    opacity: 0.9;
  }

  .socialIcons a:hover{
    transform: scale(1.5);
    transition: 0.5s;
  }

  .socialIcons a:hover i{
    color: white;
    transition: 0.5s;
  }

  .footer-nav{
    margin: 30px 0;
  }

  .footer-nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
  }

  .footer-nav ul li a{
    color: white;
    margin: 2rem;
    margin-left: auto;
    text-decoration: none;
    text-align: center;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
  }

  .footer-nav ul li a:hover{
    opacity: 1;
  }

  .footerBottom{
    background-color: #000000;
    padding: 20px;
    text-align: center;
  }



  .footerBottom p{
    color: white;
    font-size: medium;
  }

  .designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    max-width: 0px 5px;
  }



