<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta htttp-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intital-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Index</title>
</head>

<body>

    <header>
    <!--Nav bar-->
    <nav class="navbar">
        <a href="/index" class="nav-branding">Nickotine</a>
        <div class="nav-menu">
            <div class="nav-item">
                <a href="/projects" class="nav-link">Projects</a>
            </div>

            <div class="nav-item">
                <a href="/contact" class="nav-link">Contact</a>
            </div>
        </div>
    </nav> 
    </header>

    <main>
        <div class="heroImage">
            <div class="heroText">
                <h1>Nichita <i>Riscovoi</i></h1>
                <h2>Software <i>Developer</i> Intern</h2>
            </div>
        </div>
        
        <div class="intro_container">
            <div>
                <h2>About Me</h2>
                <p>
                    My name is Nichita Riscovoi, I am a 3rd year Software Development<br> student
                    at MTU. I am a keen young developer who has an interest<br> in Web Development
                    as well as a strong curiosity in Cyber Security.<br> The things I am interested in
                    are art, video games, music and none<br> the less, motorcycles.
                 </p>
            </div>
        </div>

        <div class="projects_container">
            <h2>Projects</h2>
            <ul class="project_list">
                <li>Full Stack Workshop</li>
                <li>Ping Pong</li>
                <li>Portfolio</li>
            </ul>
    </main>
    <footer>
        <div class="footer-container">
            <div class="socialIcons">
                <a href="https://github.com/ApolloDev11"><i class="fa-brands fa-github"></i></i></a>
                <a href="https://www.linkedin.com/in/nichita-riscovoi-b5b866313/"><i class="fa-brands fa-linkedin"></i></i></a>
                <a href="https://www.youtube.com/channel/UCEsyogRP0iYqP6YJW_7C8Xw"><i class="fa-brands fa-youtube"></i></i></a>
            </div>
            
            <div class="footer-nav">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
    
            <div class="footerBottom">
                <p>Copyright &copy;2024; Designed by <span class="designer">Nichita Riscovoi</span></p>
            </div>
        </div>    
    </footer>
</body>

</html>